@using MedicalCenter.Core.Entities
@model Appointment 
@{
    var docs = ViewBag.Doctors as List<SelectListItem>;
    var pats = ViewBag.Patients as List<SelectListItem>;
}

<h1>Видалення запису на @Model.DateTime </h1>


<form asp-action="Delete">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <button class="btn btn-primary" type="submit">Видалити</button>
</form>