<!DOCTYPE html>
<html lang="en">
<partial name="_TeamplateHead" />
<body class="navbar-fixed sidebar-fixed" id="body">
    <script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>

    <div class="wrapper">

        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/">
                <img src="/NewFolder3/images/logo.png" alt="Mono">
                <span class="brand-name">Medical center</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
               
                        @if (!User.IsInRole("Patient") && !User.IsInRole("Doctor") && !User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="sidenav-item-link" href="/">
                                    <i class="fa-solid fa-home"></i>
                                    <span class="nav-text">Головна</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Patient"))
                        {
                            <li>
                                <a class="sidenav-item-link" href="/">
                                    <i class="fa-solid fa-home"></i>
                                    <span class="nav-text">Головна</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="/appointment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Записи на прийом</span>
                                </a>
                            </li>

                            <li>
                                <a class="sidenav-item-link" href="/diagnosis">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Медична карта</span>
                                </a>
                            </li>

                            <li>
                                <a class="sidenav-item-link" href="/comment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Коментарі</span>
                                </a>
                            </li>

                           /* <li>
                                <a class="sidenav-item-link" href="/user">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Лікарі</span>
                                </a>
                            </li>
                            */
                        }
                        @if (User.IsInRole("Admin") && User.IsInRole("Doctor"))
                        {
                            <li>
                                <a class="sidenav-item-link" href="/">
                                    <i class="fa-solid fa-home"></i>
                                    <span class="nav-text">Головна</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="/appointment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Записи на прийом</span>
                                </a>
                            </li>

                            <li>
                                <a class="sidenav-item-link" href="/comment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Коментарі</span>
                                </a>
                            </li>

                            <li>
                                <a class="sidenav-item-link" href="/user">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Користувачі</span>
                                </a>
                            </li>

                            <li>
                                <a class="sidenav-item-link" href="/Reports/DoctorPopularityReport">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Звіт з популярності</span>
                                </a>
                            </li>
                        
                        }
                        else if (User.IsInRole("Doctor") && !User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="sidenav-item-link" href="/">
                                    <i class="fa-solid fa-home"></i>
                                    <span class="nav-text">Головна</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="/appointment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Записи на прийом</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="/comment">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span class="nav-text">Коментарі</span>
                                </a>
                            </li>
                           
                            /*<li>
                                <a class="sidenav-item-link" href="/user">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span class="nav-text">Пацієнти</span>
                                </a>
                            </li>
                            */
                        }

            <div class="sidebar-footer">
              <div class="sidebar-footer-content">
                <ul class="d-flex">
                  <li>
                    <a href="user-account-settings.html" data-toggle="tooltip" title="Profile settings"><i class="mdi mdi-settings"></i></a></li>
                  <li>
                    <a href="#" data-toggle="tooltip" title="No chat messages"><i class="mdi mdi-chat-processing"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>

        <div class="page-wrapper">
            <partial name="_TempateHeader" />

            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
            </div>

    </div>

   


    <partial name="_TemplateScripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
