@using Microsoft.AspNetCore.Identity
@using MedicalCenter.Core.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
   @* <li class="dropdown user-menu">
        <button class="dropdown-toggle nav-link" data-toggle="dropdown">
            <img src="images/user/user-xs-01.jpg" class="user-image rounded-circle" alt="User Image" />
            <span class="d-none d-lg-inline-block">John Doe</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a class="dropdown-link-item" href="user-profile.html">
                    <i class="mdi mdi-account-outline"></i>
                    <span class="nav-text">My Profile</span>
                </a>
            </li>
            <li>
                <a class="dropdown-link-item" href="email-inbox.html">
                    <i class="mdi mdi-email-outline"></i>
                    <span class="nav-text">Message</span>
                    <span class="badge badge-pill badge-primary">24</span>
                </a>
            </li>
            <li>
                <a class="dropdown-link-item" href="user-activities.html">
                    <i class="mdi mdi-diamond-stone"></i>
                    <span class="nav-text">Activitise</span>
                </a>
            </li>
            <li>
                <a class="dropdown-link-item" href="user-account-settings.html">
                    <i class="mdi mdi-settings"></i>
                    <span class="nav-text">Account Setting</span>
                </a>
            </li>

            <li class="dropdown-footer">
                <a class="dropdown-link-item" href="sign-in.html"> <i class="mdi mdi-logout"></i> Log Out </a>
            </li>
        </ul>
    </li>*@
} else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}



